<bs-list-group>
    <bs-list-group-item title="Configure Cluster">
        <bs-tabs>
            <bs-pane title="Basic Cluster Info">
            Basic Cluster Info
            </bs-pane>
            <bs-pane title="Partition Power">
            Partition Power
            </bs-pane>
            <bs-pane title="SSL Information">
            SSL Information
            </bs-pane>
            <bs-pane title="NTP Information">
            NTP Information
            </bs-pane>
            <bs-pane title="Unmount failed devices">
            Unmount failed devices
            </bs-pane>
        </bs-tabs>
    </bs-list-group-item>
    <bs-list-group-item title="Manage Nodes">
        <bs-tabs>
            <bs-pane title="Install a New Node">
            Install a New Node
            </bs-pane>
            <bs-pane title="Provision Node">
            Provision Node
            </bs-pane>
        </bs-tabs>
    </bs-list-group-item>
    <bs-list-group-item title="Region Affinity">
        <bs-tabs>
            <bs-pane title="Default Region">
            Default Region
            </bs-pane>
            <bs-pane title="Add/Edit/Delete Region">
            Add/Edit/Delete Region
            </bs-pane>
            <bs-pane title="Add/Edit/Delete Zone">
            Add/Edit/Delete Zone
            </bs-pane>
            <bs-pane title="Read Affinity">
            Read Affinity
            </bs-pane>
            <bs-pane title="Write Affinity">
            Write Affinity
            </bs-pane>
        </bs-tabs>
    </bs-list-group-item>
    <bs-list-group-item title="Manage Swift">
    Manage Swift
    </bs-list-group-item>
</bs-list-group>