<form class="form-horizontal">
<fieldset>
    <legend>{{title}}</legend>
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="user.name">
        </div>
        </div>
        <div class="form-group">
        <label for="age" class="col-md-2 control-label">Age</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="age" name="age" placeholder="Age" ng-model="user.age">
        </div>
        </div>
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-info" ng-click="save()">Save</button>
        </div>
    </div>
</fieldset>
</form>
